.claude
.venv
*.ipynb_checkpoints
__pycache__/
*.ipynb
!ml/train_pretrain_model.ipynb
!ml/train_posttrain_model.ipynb
!ml/last_forecast.ipynb
*.pyc
*.pkl
.codex
*.log
agents.md
.conda
index.html
manifest.webmanifest